<%= render "shared/side_bar" %>
<div class="main-place">
  <h1>チーム詳細画面</h1>
  <div class="team-detail">
    <%= @team.name %>
    <%= @team.prof %>
    <%= @team.email %>
    <% @team.users.each do |users| %>
      <%= users.last_name %>
      <%= users.first_name %>
    <% end %>
  </div>
  <% if current_user.id == @team.user_ids %>
    <%= link_to "編集する", edit_team_path(@team.id), method: :get, class: "item-red-btn" %>
    <%# <%= link_to "削除する", item_path(@item.id), method: :delete, class:"item-destroy" %> %>
  <% end %>
</div>