<%= render "shared/side_bar" %>
<div class="main-place">
  <h1>チーム詳細画面</h1>
  <div class="team-detail">
    <h4>チーム名</h4>
    <%= @team.name %>
    <h4>チーム担当教授</h4>
    <%= @team.prof %>
    <h4>チームメーリス</h4>
    <%= @team.email %>
    <h4>登録メンバー</h4>
    <% @team.users.each do |users| %>
      <%= users.last_name %>
      <%= users.first_name %>
    <% end %>
  </div>
  <% if @team.user_ids.include?(current_user.id) %>
    <%= link_to "編集する", edit_team_path(@team.id), method: :get %>
    <%= link_to "削除する", team_path(@team.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <% end %>
  <br>
  <%# マニュアルへのリンク %>
  <%= link_to "#{@team.name}のマニュアル", "#" %>
  <%# 問い合わせへのリンク %>
  <br>
  <%= link_to "#{@team.name}の問い合わせ", "#" %>
</div>