<h2>問い合わせ：<%= @team.name %></h2>
<% breadcrumb :asking_choose, @team %>

<div class="asking-create">
  <%= link_to "問い合わせを作成する", new_team_asking_path, class: "btn btn-outline-danger" %>
</div>

<div class="asking">
  <div class="asking-body">
    <div class="asking-team">
      <%= @team.name %>の問い合わせ一覧
    </div>

    <%# タグ機能 %>
    <div class="tag">
      <div class="tag-top">タグ一覧</div>
      <% if @tags.present? %>
        <div class="tags">
          <% @tags.each do |tag| %>
            <div><%= link_to "#{tag.name}(#{tag.taggings_count})", choose_team_askings_path(tag: tag.name), class: "link" %></div>
          <% end %>
        </div>
      <% else %>
          <P>登録されているタグはありません</p>
      <% end %>

      <% if @asking.present? %>
        <p><%= "#{@tag}の問い合わせ一覧" %></p>
        <% @asking.each do |asking| %>
          <%= link_to asking.question, team_asking_path(@team.id, asking.id), method: :get, class: "link" %><br>
        <% end %>
      <% end %>
    </div>

    <div class="all-asking">
      <div class="asking-top">問い合わせ一覧</div>
      <% @askings.each do |asking| %>
        <ul>
          <li>
            <div class="news">
              <div class="newlabel">
                <%= render 'shared/new_label' if asking.new_arrival? %>
              </div>
              <%= link_to asking.question, team_asking_path(@team.id, asking.id), method: :get, class: "link" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>

    <%= paginate @askings %>
  </div>
  <%# 検索機能 %>
  <div class="search-form">
    <%= render 'search', url: search_team_askings_path, q: @q %>
  </div>

</div>