<h2>業務管理</h2>
<% breadcrumb :calendar_index %>

    <%= form_with(model: @calendar, local: true) do |form| %>
      <div class="title">
        <div class="form-tag">業務</div>
        <%= form.text_field :title %>
      </div>

      <div class="time">
        <div class="form-tag">日付</div>
        <%= form.datetime_select :start_time %>
      </div>

      <div class="submit">
        <%= form.submit %>
      </div>
    <% end %>

    <%= month_calendar events: @calendars do |date, calendars| %>
      <%= date.day %>
      <% calendars.each do |calendar| %>
        <div>
          <%= calendar.title %>
        </div>
      <% end %>
    <% end %>