<h2>業務管理</h2>
<% breadcrumb :calendar_index %>

    <%= form_with(model: @calendar, local: true) do |form| %>
      <div class="title">
        <div class="form-tag">業務</div>
        <%= form.text_field :title %>
      </div>

      <div class="time">
        <div class="form-tag">日付</div>
        <%= raw sprintf(
          form.date_select(
            :start_time,
            use_month_numbers: true,
            start_year: 2020,
            end_year: (Time.now.year - 18),
            default: Date.new(2022, 1, 1),
            date_separator: '%s'),
          '年', '月') + '日' %>
      </div>

      <div class="submit">
        <%= form.submit "カレンダーに追加" %>
      </div>
    <% end %>

    <%= month_calendar events: @calendars do |date, calendars| %>
      <%= date.day %>
      <% calendars.each do |calendar| %>
        <div>
          <%= calendar.title %>
        </div>
      <% end %>
    <% end %>