<div class="search">
  <div class="search-title">マニュアル検索</div>
  <div class="field">
    <%= search_form_for Manual.ransack(params[:q]), url: search_manuals_path do |f| %>
      <div class="search-field">
        <% f.label :team_id, 'チーム' %>
        <%= f.collection_select(:team_id_in, current_user.teams, :id, :name, {include_blank: "チームを選択する"} )%>
      </div>
      <div class="search-field">
        <% f.label :title_cont, 'タイトル' %>
        <%= f.text_field :title_cont, placeholder: 'キーワードで探す', size: "15" %>
      </div>
      <div class="search-field">
        <%= f.label :submit, class: "search-button" do %>
          <input type= "submit" value="検索" class="btn btn-danger search-btn">
          <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>