<h1>検索結果画面</h1>
<% breadcrumb :manual_search %>
<%= render 'search', url: search_manuals_path, q: @q %>

<%# マニュアルの新規作成 %>
<div class="manual-create">
  <%= link_to "マニュアルを作成する", new_manual_path, class: "post" %>
</div>

<%# マニュアル検索結果 %>
<% @manuals.each do |manual| %>
  <%= manual.team.name %>のマニュアル
  <br>
  <%= link_to manual.title, manual_path(manual.id), method: :get%>
  <br>
  作成日：<%= manual.created_at.strftime('%Y/%m/%d') %>
  <br>
<% end %>


<%# 所属するチームごとのマニュアルタイトル一覧 %>
<h2>所属するチームごとのマニュアルタイトル一覧</h2>
  <% current_user.teams.each do |team| %>
    <h3><%= team.name %></h3>
    <% team.manuals.each do |manual| %>
      <h4><%= link_to manual.title, manual_path(manual.id), method: :get %></h4>
    <% end %>
  <% end %>