<h2>マニュアル検索結果</h2>
<% breadcrumb :manual_search %>

<%# マニュアルの新規作成 %>
<div class="manual-create">
  <%= link_to "マニュアルを作成する", new_manual_path, class: "btn btn-outline-danger" %>
</div>

<div class="manual">
  <%# マニュアル検索結果 %>
  <div class="manual-body">
    <% if @manuals.present? %>
      <% @manuals.each do |manual| %>
      <div class="manual-team">
        <%= manual.team.name %>のマニュアル
      </div>
      <ul>
        <li>
          <%= link_to manual.title, manual_path(manual.id), method: :get, class: "link"%><br>
          　　　　　作成日：<%= manual.created_at.strftime('%Y年%m月%d日') %>
        </li>
      </ul>
      <% end %>
    <% else %>
      <p>キーワードに該当するマニュアルはありません</p>
    <% end %>
  </div>

  <div class="search-body">
    <%= render 'search', url: search_manuals_path, q: @q %>
  </div>
</div>