<div class="search">
  <div class="search-title">検索機能</div>
  <%= search_form_for @team.emails.ransack(params[:q]), url: search_team_emails_path do |f| %>
    <div class="search-field">
      <% f.label :title_or_text_cont, '検索キーワード' %>
      <%= f.text_field :title_or_text_cont, placeholder: '検索キーワード' %>
    </div>
    <div class="search-field">
      <div><%= f.date_field :created_at_gteq, include_blank: true, class: 'form-control' %> 〜 
      <div><%= f.date_field :created_at_lteq, include_blank: true, class: 'form-control' %>
    </div>
    <div class="search-field">
      <%= f.label :submit, class: "search-button" do %>
        <input type= "submit" value="検索" class="btn btn-danger search-btn">
        <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
      <% end %>
    </div>
  <% end %>
</div>