<h2>選択したチームのメール管理一覧画面</h2>

<%= @team.name %>のメール管理一覧

<div class="email-create">
  <%= link_to "メールを保存する", new_team_email_path %>
</div>

<h3>管理しているメール一覧</h3>
<% @emails.each do |email| %>
  <div class="news">
    <div class="newlabel">
      <%= render 'shared/new_label' if email.new_record? %>
    </div>
    <%= link_to email.title, team_email_path(@team.id, email.id), method: :get %>
  </div>
<% end %>

<%= paginate @emails %>