<h2>メール管理：<%= @team.name %></h2>
<% breadcrumb :email_search, @team, @email %>

<div class="email-create">
  <%= link_to "メールを保存する", new_team_email_path, class: "btn btn-outline-danger" %>
</div>

<div class="email">
  <div class="email-body">
    <div class="result">検索結果</div>  
    <% if @emails.present? %>
      <div class="all-email">
        <% @emails.each do |email| %>
          <ul>
            <li>
              <div class="news">
                <div class="newlabel">
                  <%= render 'shared/new_label' if email.new_arrival? %>
                </div>
                <%= link_to email.title, team_email_path(@team.id, email.id), method: :get, class: "link" %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    <% else %>
      <p>キーワードに該当する保管メールはありません</p>
    <% end %>
  </div>

  <%# 検索機能 %>
  <div class="search-form">
    <%= render 'search', url: search_team_emails_path %>
  </div>
</div>